APP_HOST=localhost:8080
APP_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpYXQiOjE3MDYxMDUyNTQsImV4cCI6MTcwNjE0ODQ1NCwidXNlciI6eyJpZCI6IjU1MjAwMGRmLWM4MjItNDllMy04ZTQ5LTMzN2U5OTI2MGE0OSIsInVzZXJuYW1lIjoiYWRtaW4iLCJwYXNzd29yZF9oYXNoIjoiJDJ5JDEyJGEwN3JYUXp3V1UzaVoweXJhMERxYi5RU1FJcXpnZ0p2SGZLdGFWNWQzdXZ0V3lXRkVMb3hlIn19.btQ9BPZhYdLG6_eDcUAaMbO4urHjqN4FJhjdqGhNMWw
